<!doctype html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<!-- Page body -->
		<div class="container">
            <div class="form-row">
                <div>
                    <label id="profile-pic">
                        <img src="<%= ((typeof userInfo != 'undefined') && (typeof userInfo.photourl != 'undefined')) ? '/images/'+userInfo.photourl : '' %>" alt="User Pic" class="rounded" id="user-pic" width="200">
                    </label>
                </div>
                <div class="container" id="profile-info-container">
					<% if (typeof userInfo != 'undefined') {%>
						<p><%= userInfo.first_name %></p>
						<p><%= userInfo.last_name %></p>
						<p><%= userInfo.email_address %></p>
						<p><%= userInfo.gitlink %></p>
						<p><%= userInfo.linkedin %></p>

						<% for(var val of userInfo.git_repos){%>
							<p><%=val.git_repo%></p>
							<img src=<%='/images/'+val.screenshot_url%> alt="screenshot" width="200">
						<%}%>

					<%}%>
				</div>
                <div class="container" id="message-board-container"></div>
                <div class="container" id="message-input-container"></div>
            </div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>