<!doctype html>
<html lang="en">
<head>
	<% include ../partials/profile-head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main id="profile-main">
		<!-- Page body -->
		<div class="container" id="profile-container">
            <div class="form-row">
				<% if (typeof error != 'undefined') {%>
					<p><%= error %></p>
				<%}%>
				<% if (typeof userInfo != 'undefined') {%>
					<div id="left-container">
					<div class="container" id="profile-info-container">
						<label id="profile-pic">
							<!-- <img src="<%= ((typeof userInfo != 'undefined') && (typeof userInfo.photourl != 'undefined')) ? '/images/'+userInfo.photourl : '' %>" alt="User Pic" class="rounded" id="user-pic"> -->
							<img src="<%= '/images/'+userInfo.photourl %>" alt="User Pic" class="rounded" id="user-pic">
						</label>
						<div id="user-info">
						<% if (typeof userInfo != 'undefined') {%>
							<p><%= userInfo.first_name %> <%= userInfo.last_name %></p>
							<p><%= userInfo.email_address %></p>
							<div id="github-link"><a href="https://github.com/<%= userInfo.gitlink %>" target="_blank">GitHub</a></div>
							<a href="https://www.linkedin.com/in/<%= userInfo.linkedin %>" target="_blank">LinkedIn</a>
						<%}%>
						</div>
					</div>
					<div class="container" id="message-board-container"></div>
					</div>
					<div class="container" id="user-repos">
						<% for(var val of userInfo.git_repos){%>
							<img id="repo-screenshot" src=<%='/images/'+val.screenshot%> alt="<%=val.name%>">
							<p><%=val.name%></p>
						<%}%>
					</div>
				<%}%>
			</div>
		<!-- <div class="container" id="message-board-container"></div> -->
		<!-- <div class="container" id="message-input-container"></div> -->

	</div>
</main>

<footer>
	<% include ../partials/profile-footer %>
</footer>

</body>
</html>