<!doctype html>
<html lang="en">
<head>
	<% include ../partials/profile-head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main id="profile-main">
		<!-- Page body -->
		<div class="container" id="profile-container">
      		<div class="form-row">
				<% if (typeof error != 'undefined') {%>
					<p><%= error %></p>
			 	<%}%>
				<% if (typeof userInfo != 'undefined') {%>
					<div id="left-container">
						<div class="container" id="profile-info-container">
							<label id="profile-pic">
								<!-- <img src="<%= ((typeof userInfo != 'undefined') && (typeof userInfo.photourl != 'undefined')) ? '/images/'+userInfo.photourl : '' %>" alt="User Pic" class="rounded" id="user-pic" width="200"> -->
								<img src="<%= '/images/'+userInfo.photourl %>" alt="User Pic" class="rounded" id="user-pic" width="200">
							</label>
							<div id="user-info">
								<p><%= userInfo.first_name %></p>
								<p><%= userInfo.last_name %></p>
								<p><%= userInfo.email_address %></p>
								<p><%= userInfo.gitlink %></p>
								<p><%= userInfo.linkedin %></p>
								<!-- <a href="<%= userInfo.linkedin %>">LinkedIn</a> -->
							</div>
						</div>
						<div class="container" id="message-board-container">
							<div id="read-message">
	
							</div>
							<div id="write-message">
								<form method="POST" action="/message" class="form-inline">
									<textarea class="form-control" id="textArea" name="user_message" placeholder="Post a message" rows="3"></textarea>
									<input type="text" name="id" id="hiddenMessageInput">
									<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="message-btn">Send</button>
								</form>
							</div>
						</div>
					</div>
					<div class="container" id="user-repos">
						<% for(var val of userInfo.git_repos){%>
							<img src=<%='/images/'+val.screenshot%> alt="<%= val.name %>" width="200">
							<p><%= val.name %></p>
						<%}%>
					</div>
				<%}%>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/profile-footer %>
	</footer>
	
</body>
</html>